{
        "presets": ["@babel/preset-env"]
}

// "scripts": {
//         "build": "babel src -d dist && ncp src/views dist/views && ncp src/public dist/public"
// }

// "scripts": {
//         "build": "npx babel src -d dist && ncp src/views dist/views && ncp src/public dist/public"
// }